{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE HTML>
<html>
  <head>
    {% render_block "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/gears/css/style.css" />
    <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="{{ STATIC_URL }}themes/gears/js/modernizr-1.5.min.js"></script>
  </head>

  <body>
  {% cms_toolbar %}
    <div id="main">
      <header>
        <div id="logo">
          <div id="headercontainer">
            <h1 id="headertop">
              {% placeholder "header" or %}
              Page header
              {% endplaceholder %}
            </h1>
            <div id="headerbackground"></div>
          </div>
        </div>
        <nav>
          <div id="menu_container">
            <ul class="sf-menu" id="nav">
              {% load menu_tags %}
              {% show_menu 0 100 100 100 "menu-bar.html" %}
            </ul>
          </div>
        </nav>
      </header>
      <div id="site_content">
        <div id="sidebar_container">
          <div class="sidebar">
            {% placeholder "sidebar-top" or %}
            Side Top
            {% endplaceholder %}
          </div>
          <div class="sidebar">
            {% placeholder "sidebar-middle" or %}
            Side Middle
            {% endplaceholder %}
          </div>
          <div class="sidebar">
            {% placeholder "sidebar-bottom" or %}
            Side bottom
            {% endplaceholder %}
          </div>
        </div>
        <div class="content">
          {% placeholder "content-top" or %}
          {% endplaceholder %}
        </div>
      </div>
      <footer>
        <p><a href="/">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
        <p>Copyright © csproto | Design inspired from <a href="http://www.css3templates.co.uk">css3templates</a></p>
      </footer>
    </div>
    <!-- javascript at the bottom for fast page loading -->
    <script type="text/javascript" src="{{ STATIC_URL }}themes/gears/js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}themes/gears/js/jquery.easing-sooper.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}themes/gears/js/jquery.sooperfish.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('ul.sf-menu').sooperfish();
      });

      $(document).ready(function(){
        $.fn.textWidth = function(){
          var html_org = $(this).html();
          var html_calc = '<span>' + html_org + '</span>';
          $(this).html(html_calc);
          var width = $(this).find('span:first').width();
          $(this).html(html_org);
          return width;
        };
        var width = $("#headertop").textWidth();
        var elem = $("#headertop");
        var padding = parseInt(elem.css('padding'));
        var domElem = elem[0];
        domElem.style.width = width + 'px';
        domElem.parentElement.style.width = (width + padding*2 + 2) + 'px';
      });
    </script>
    {% render_block "js" %}
  </body>
</html>
